[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jastaj Virdee (JastajVirdee)
[access "refs/for/refs/*"]
	read = group user/Jastaj Virdee (JastajVirdee)
	push = group user/Jastaj Virdee (JastajVirdee)
	label-Code-Review = -2..+2 group user/Jastaj Virdee (JastajVirdee)
	label-Verified = -1..+1 group user/Jastaj Virdee (JastajVirdee)
	rebase = group user/Jastaj Virdee (JastajVirdee)
	removeReviewer = group user/Jastaj Virdee (JastajVirdee)
	submit = group user/Jastaj Virdee (JastajVirdee)
[access "refs/heads/*"]
	read = group user/Jastaj Virdee (JastajVirdee)
	create = group user/Jastaj Virdee (JastajVirdee)
	push = +force group user/Jastaj Virdee (JastajVirdee)
	pushMerge = group user/Jastaj Virdee (JastajVirdee)
[access "refs/tags/*"]
	push = group user/Jastaj Virdee (JastajVirdee)
	push = +force group user/Jastaj Virdee (JastajVirdee)
[project]
	description = Example project on demonstrating how to use Gerrit CR.
[receive]
	requireChangeId = true
